.players {
    border: 1px, red;
}

img {
    height: 100px;
    width: 100px;
}

.luke {
    background-color: black;
    border-color: green;
    border-width: 2px;
}

.luke2 {
    height: 12rem;
}

.luke3 {
    background-color: black;
    border-color: green;
    border-width: 2px;
}

.luke4 {
    height: 12rem;
}


div {
    color: rgb(9, 95, 95);
    font-weight: bold;
}